packages/chrome-plugin/browser-extension/public/licenses/playwright-LICENSE.txt text eol=lf
plugins/Anybox-Plugins/chrome/browser-extension/licenses/playwright-LICENSE.txt text eol=lf
plugins/Anybox-Plugins/.catalog/packages/*.zip binary
